.container {
  width: 90%;
  margin: 0 auto;
}

:root {
  --accentColor: #2f70fe;
  --color: #000c2d;
  --mobile-padding: 15px;
  --gutter: 15px;
}

html {
  font-family: 'Golos Text', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color);
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}
.prime-button {
  padding: 12px 23px;
  white-space: nowrap;
}
