.hero {
  background-color: #2f70fe;
  display: flex;
  &__container {
    color: #ffffff;
    text-align: center;
  }
  &__wrapper {
    margin: 114px auto;
    @media (max-width: 768px) {
      max-width: calc(375px - var(--gutter) * 2);
      margin: 70px auto;
    }
    @media (max-width: 375px) {
      margin-top: 56px;
    }
  }
  &__title {
    margin: 0 auto;
    margin-bottom: 7px;
    max-width: 620px;
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    @media (max-width: 768px) {
      max-width: calc(375px - var(--gutter) * 2);
      font-size: 35px;
      line-height: 45px;
    }
  }
  &__subtitle {
    width: 605px;
    margin: 0 auto;
    margin-bottom: 33px;
    line-height: 30px;
    @media (max-width: 768px) {
      max-width: calc(375px - var(--gutter) * 2);
    }
    @media (max-width: 375px) {
      margin-bottom: 102px;
    }
  }
  &__button {
    background-color: black;
    color: white;
    @media (max-width: 375px) {
      margin-bottom: 9px;
    }
  }
}
